/* Lato - Primary Sans Serif Font */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/lato-regular.woff2') format('woff2');
}

/* Menlo - Mono Font */
@font-face {
  font-display: swap;
  font-family: 'Menlo';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/menlo-regular-webfont.woff2') format('woff2');
}

/* Bitter - Display Font (Regular) */
@font-face {
  font-display: swap;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/bitter-regular.woff2') format('woff2');
}


/* FontAwesome - Icon Font */
@font-face {
  font-display: swap;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/fontawesome-webfont.woff2') format('woff2');
}